extends layout
block content
	title= Chat
	head
		link(rel='stylesheet' href='bootstrap.min.css' type='text/css' mdeia='all')
		
  
	style.
		html
			{
				background:#464451;
			}
		.form-group
			{
				margin-top: 41%;
				margin-left: 44%;
				position:fixed;
				bottom:10px;
				height:50px;				
			}
		.Almessage
			{
				position:relative;
				padding-top:20px;	
				padding-right:70%;
			}
		.data
			{
				position:relative;
				color:white;
				font-size:150%;
				padding-right:10%;
				padding-top:20px;
			}
		.text
			{
				color:green;
				font-size:150%;
				padding-top:0px;
			}
		#field
			{
				background-color:#252D2D;
				width:35%;	
				border-radius: 30px;
				margin-bottom:5%;
				
				word-wrap:break-word;
				padding-right:10px;

			}
		.panel
			{
				background-color:#252D2D;
				border-radius: 30px;
				overflow:hidden;
			}
		.message
			{
				position:relative;
				padding-top:20px;	
				padding-left:70%;
				
			}
		.Aldata
			{
				position:relative;
				padding-right:10%;
				color:#457DE3;
				font-size:150%;

			}
		.Altext
			{
				color:green;
				font-size:150%;
			}
		#background
			{
				background-color:#464451;
			}
		.topbutton
			{
				width:100px;
				background:#000000;
				text-align:center;
				padding:10px;
				position:fixed;
				bottom:10px;
				right:50px;
				/*cursor:pointer;*/
				color: white;
				font-family:"Helvetica Neue","Open Sans",sans-serif;
				font-size:15px;
				text-decoration:none;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				
			}
		a:hover
			{
				color:white;
				transform:scale(1.2,1.2);
				text-decoration:none;
			}
		a:visited
			{
				color:white;
				transform:scale(1.2,1.2);
				text-decoration:none;
			}
		a:active
			{
				color:white;
				text-decoration:none;
			}
		/*input.form-control:focus
			{
				//transform:scale(1.4,1.4);
			}
		*/
		

	body
		div(id="background")
			center
				div(id='field')
					div(id ='messages')
		div.inp
			form(role='form' class='form-inline' onsubmit='sendMessage(this.message.value); this.message.value = ""; return false;')
				div.form-group
					input(type='text' class='form-control' name='message' placeholder='Enter your message' autocomplete='off')
					button(type='submit' class='btn btn-success hidden-sm hidden-xs'): i(class='glyphicon glyphicon-send')
				a(class="topbutton hidden-sm hidden-xs" href="#"): i(class='glyphicon glyphicon-chevron-up')
	script(src='/socket.io/socket.io.js')
	script(type='text/javascript').
		var socket = io(),
			messagesContainer = document.getElementById('messages');
			//mymessContainer = document.getElementById('AlianMess');

		socket.on('messageSent', (data) => {
			renderMessage(data);
		});

		socket.on('messageReceived',(data)=>{
			renderAlianMess(data);
		});

		function sendMessage(message) {
			if (message) {
				socket.emit('message', message);
			}
		}

		function renderMessage(data) // Свое сообщение 
		{
			
			var div = document.createElement('DIV');
			div.innerHTML = '<div class="message"><div class="text"><h3>'+data.text+'</h3></div></div>';


			messagesContainer.insertBefore(div, null);
		}
		
		function renderAlianMess(data) // Сообщение от другого юзера 
		{
			var div = document.createElement('DIV');
			div.innerHTML ='<div class="Almessage"><div class="Aldata">'+data.name+'</div><div class="Altext">'+data.text+'</div></div></div>';

			messagesContainer.insertBefore(div,null);
		}
