extends layout
block content
	link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
	<meta name=viewport content="width=device-width, initial-scale=1">

	
	style.
		html
		{
		 	background-color: black;
		 	background-image: url(images/primat.jpg);
		 	background-repeat: no-repeat;	
		 	background-position: center center;
		 	background-attachment: fixed;
		 	background-size: cover;
		 	//- background: url(images/primat.jpg) center center cover no-repeat fixed;	
		}
		body
			{
				//- background-color:black;
			}
		.rotate
		{
			transform:rotateZ(0deg);
			transition:1s;
		}
		.rotate:hover
		{
			transform: rotateZ(30deg);
			transition:1s;
		}

		img
			{
				display: block;
				width: 100%;
				height: auto;
			}
		.log
		{
			background-color:#CCCCCC;
			transition:1s;
		}
		.log:hover
		{
			background-color:white !important;
			transition:1s;
		}
		.modal-title
		{
			color:#3D4B8F;

		}
		.modal-footer a 
		{
			color:white;
		}

		
	
	body
		div(class="rotate" style='position:absolute;top:10px;left:35px;'): a(href='https://vk.com/club_kv51'): img(src='images/KVlogo.png')
		a.btn.btn-lg.btn-default.log.hidden-xs.hidden-sm(href='#', data-toggle='modal', data-target='#basicModal' style="padding: 1px;margin-right: 1em;float:right;margin-top: -2.1em;font-size:1.2em;"): i(class='glyphicon glyphicon-user') SignUp
		a.btn.btn-lg.btn-default.log.hidden-xs.hidden-sm(href='/auth/vk', style="padding: 1px;margin-right: 7em;float:right;margin-top: -2.1em;font-size:1.2em;"): i.fa.fa-vk.fa-lg(aria-hidden='true')  LOG IN
		//- img.img-responsive.img-responsive(src='images/primat.jpg'  width="100%" height="100%")




		//- Sign Up
		#basicModal.modal.fade(tabindex='-1', role='dialog')
			.modal-dialog
				.modal-content
					.modal-header
						form(action="/auth/vk" method="get")
							button.close(type='button', data-dismiss='modal') x
							center
								h2#myModalLabel.modal-title Sign Up
							.modal-body
								.input-group.input-group-md
									span.input-group-addon Nickname
									input.form-control(type='text', name='nickname' placeholder='Enter your nickname',required)
							.modal-body
								.input-group.input-group-md
									span.input-group-addon Group number
									input.form-control(type='text', name='group-number' placeholder='Enter your group number',required)
							.modal-footer
								button.btn.btn-primary(type='submit'):  i.fa.fa-vk.fa-lg(aria-hidden='true')  Sign Up with VK

		