extends layout
block content
	div(style='position:absolute;top:10px;left:35px;'): a(href='https://vk.com/club_kv51'): img(src='images/KVlogo.png')
	style.
		html
		{
		 	background:url(images/primat.jpg) no-repeat;
		 	background-position: center center;
		 	background-attachment:fixed;
		 	background-size:cover;
		 	background-color: #464646;	
		}
	