extends layout
block content
	link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
	<meta name=viewport content="width=device-width, initial-scale=1">

	
	style.
		html
		{
		 	background-color: black;
		 	background-image: url(images/primat.jpg);
		 	background-repeat: no-repeat;	
		 	background-position: center center;
		 	background-attachment: fixed;
		 	background-size: cover;
		 	//- background: url(images/primat.jpg) center center cover no-repeat fixed;	
		}
		body
			{
				//- background-color:black;
			}
		.rotate
		{
			transform:rotateZ(0deg);
			transition:1s;
		}
		.rotate:hover
		{
			transform: rotateZ(30deg);
			transition:1s;
		}

		.rotate img
			{
				display: block;
				width: 100%;
				height: auto;
			}

		.modal-title
		{
			color:#3D4B8F;

		}
		.modal-footer a 
		{
			color:white;
		}
		.registered
		{
			font-size:120%;
		}
		.fa-vk:before
		{
			padding-right:5px;
			padding-left: 5px;
		}
		.fa-user-circle:before
		{
			padding-right:5px;
			padding-left: 5px;
		}
		.fa-sign-out:before
		{
			padding-right:5px;
			padding-left: 5px;
		}

		.logup
		{
			background-color:#31ABED;
			transition:1s;
			border:none;
		}
		.logup:hover
		{
			background-color:white !important;
			transition:1s;
		}
		.login
		{
			background-color:#E0A905;
			transition:1s;
			border:none;
		}
		.logup:hover
		{
			background-color:white !important;
			transition:1s;
		}
		.inmodl

		{
			font-size:1.1em !important; 
		}
		.registered a
		{
			font-size:1.3em;
		}

	//lg/md screen
	body
		-if(user != null)
			-let nickname = user.nickname
			-let userfoto = user.photoUrl
			-if(nickname) //if user is registered
				.registered
					a.btn.btn-lg.btn-default.log.hidden-xs.hidden-sm(href='#',style="padding: 1px;margin-right: 1em;float:right;margin-top: -2.0em;"): i(class='fa fa-sign-out') LOG OUT
					//- user avatar
					img.img-responsive.img-circle.hidden-xs.hidden-sm(src="#{userfoto}" width="50" style="padding: 1px;margin-right: 13em;float:right;margin-top: -2.9em;") 
					a.btn.btn-lg.btn-default.log.hidden-xs.hidden-sm(href='#', style="padding: 1px;margin-right: -5.8em;float:right;margin-top: -2.0em;") #{nickname} 	<!--page user(in the process)-->
		-else //if kakoy-to left uebok
			.registered
				a.btn.btn-lg.btn-default.logup.hidden-xs.hidden-sm(href='#', data-toggle='modal', data-target='#basicModal' style="padding: 1px;margin-right: 1em;float:right;margin-top: -1.9em;"): i(class='fa fa-user-circle') SIGN UP
				a.btn.btn-lg.btn-default.login.hidden-xs.hidden-sm(href='/auth/vk', style="padding: 1px;margin-right: 7.4em;float:right;margin-top: -1.9em;"): i.fa.fa-vk.fa-lg(aria-hidden='true') LOG IN

		div(class="rotate" style='position:absolute;top:10px;left:35px;'): a(href='https://vk.com/club_kv51'): img(src='images/KVlogo.png')
		#basicModal.modal.fade(tabindex='-1', role='dialog')
			.modal-dialog
				.modal-content
					.modal-header
						form(action="/auth/vk" method="post")
							button.close(type='button', data-dismiss='modal') x
							center
								h2#myModalLabel.modal-title Sign Up
							.modal-body
								.input-group.input-group-md
									span.input-group-addon Nickname
									input.form-control(type='text', placeholder='Enter your nickname',required,name="#")
							.modal-body
								.input-group.input-group-md
									span.input-group-addon Group number
									input.form-control(type='text', placeholder='Enter your group number',required.name="#")
							.modal-footer
								button.btn.btn-primary(type='submit'):  i.fa.fa-vk.fa-lg.inmodl(aria-hidden='true')  SIGN UP

		

		