extends layout
block content
	div(class="rotate" style='position:absolute;top:10px;left:35px;'): a(href='https://vk.com/club_kv51'): img(src='images/KVlogo.png')
	style.
		html
		{
		 	background: url(images/primat.jpg) no-repeat;
		 	//- background-position: center center;
		 	//- background-attachment: fixed;
		 	background-size: cover;
		 	background-color: #464646;	
		}
		.rotate
		{
			transform:rotateZ(0deg);
			transition:1s;
		}
		.rotate:hover
		{
			transform: rotateZ(30deg);
			transition:1s;
		}