doctype
html
	- var page;
	- if (user == undefined) page = 'Home'
	- else page = user.username
	title= page

	head
		link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.js')
		script(src='https://use.fontawesome.com/e6b8eb824d.js')
		link(rel="shortcut icon" href="kv.ico")
	style.

		html
			{
				//- overflow-y:hidden;
			}
		.Menu
			{
				background-color:#CCCCCC;
				transition:1s;
			}
		.Menu:hover
			{
				background-color:white;
				transition:1s;
			}
		.Menu ul
		{
			list-style:none;
			margin: 0px;
			padding-bottom:15px;
			padding-top:10px;
			//- margin-bottom:20px;
			//- padding-left: 10%;
			
		}
		.Menu li
		{
			display:inline;
			margin-right: 45px;
		}
		.Menu a
		{
			text-decoration:none;
			font: 130% "Helvetica Neue","Open Sans",sans-serif;
			color:#BBBBBB;
			position:relative;
			//padding-right:30px;
			padding-bottom:5px;
		}
		#head
			{
				//position:fixed;
				background-color:#ffffff;
				margin-top:24px;
				//- width:100%;
				//margin-bottom:60%;
			}
			.Menu a::before
			{
				display:block;
				position:absolute;
				content:"";
				height:2px;
				width: 5;
				background-color:#808080;
				transition: width .5s ease-in-out, left .5s ease-in-out;
				left:50%;
				bottom:0;
			}

			.Menu a::after
			{
				display:block;
				position:absolute;
				content:"";
				height: 2px;
				width: 0;
				background-color: #808080;
				transition: width .5s ease-in-out;
				left: 50%;
				bottom: 0;
			}
		.Menu a:visited
		{
			color:#808080;
		}

		.Menu a:hover
			{
				color:#808080;
			}
		.Menu a:hover::before
			{
				width:50%;
				left:0;
				
			}
		.Menu a:hover::after
		{
			width:50%;
		}

		@media screen and (max-width: 600px) 
		{
			.nav 
			{
				position: relative;
				min-height: 40px;	
			}	
			.nav ul 
			{
				width: 180px;
				padding: 5px 0;
				position: absolute;
				top: 0;
				left: 0;
				border: solid 1px #aaa;
				border-radius: 5px;
				box-shadow: 0 1px 2px rgba(0,0,0,.3);
			}
			.nav li 
			{
				display: none; /* скрыть все <li> пункты */
				margin: 0;
			}
			.nav .current 
			{
				display: block; /* показывать только текущие активные <li> пункты */
			}
			.nav a 
			{
				display: block;
			}
			/* адаптивное меню справа */
			.nav.right ul 
			{
				left: auto;
				right: 0;
			}
			.nav ul:hover 
			{
				background-image: none;
			}
			.nav ul:hover li {
				display: block;
				margin: 0 0 5px;
			}

			/* адаптивное меню справа */
			.nav.right ul 
			{
				left: auto;
				right: 0;
			}

			.nav ul 
			{
				background-color:#CCCCCC;
				transition:1s;
			}
			.nav:hover ul
			{
				background-color:white;
				transition:1s;
			}
	
		}
		/*Modal Windows*/
		
		

body
	center
		div(id="head")
			div.Menu
				div.nav.right
					ul
						li.hidden-xs: a(href='/home'): i(class='main glyphicon glyphicon-home')  Home
						li.hidden-xs: a(href='/list'): i(class='glyphicon glyphicon-list')  List
						li.hidden-xs: a(href='/chat'): i(class='glyphicon glyphicon-send')  Chat
						div.small.hidden-lg.hidden-md.hidden-sm
							li.current: a(href='/home'): i(class='main glyphicon glyphicon-home')  Home
							li: a(href='/list'): i(class='glyphicon glyphicon-list')  List
							li: a(href='/chat'): i(class='glyphicon glyphicon-send')  Chat
							center
								li.hidden-lg.hidden-md.hidden-sm: a.btn.btn-lg.btn-default.log(href='#', data-toggle='modal', data-target='#basicModal' style="padding: 1px;font-size:1.2em;"): i(class='glyphicon glyphicon-user') SignUp
								li.hidden-lg.hidden-md.hidden-sm: a.btn.btn-lg.btn-default.log(href='/auth/vk',style="padding: 1px;font-size:1.2em;"): i.fa.fa-vk.fa-lg(aria-hidden='true') SignUp
							//- li.current.hidden-lg.hidden-md.hidden-sm: i(class='glyphicon glyphicon-send') Menu

						
	block content