doctype
html
	title= page
	head
		link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
		
		link(rel="shortcut icon" href="kv.ico")
		script(src='/socket.io/socket.io.js')
	style.
		.Menu ul
		{
			list-style:none;
			margin: 0px;
			padding-bottom:15px;
			padding-top:10px;
			margin-bottom:20px;
			
		}
		.Menu li
		{
			display:inline;
			margin-right: 55px;
		}
		.Menu a
		{
			text-decoration:none;
			font: 130% "Helvetica Neue","Open Sans",sans-serif;
			color:#BBBBBB;
			position:relative;
			//- padding-right:30px;
			padding-bottom:5px;
		}
		.Menu
			{
				background-color:#ffffff;
				margin-top:24px;
				
			}
			.Menu a::before
			{
				display:block;
				position:absolute;
				content:"";
				height:2px;
				width: 5;
				background-color:#808080;
				transition: width .5s ease-in-out, left .5s ease-in-out;
				left:50%;
				bottom:0;
			}

			.Menu a::after
			{
				display:block;
				position:absolute;
				content:"";
				height: 2px;
				width: 0;
				background-color: #808080;
				transition: width .5s ease-in-out;
				left: 50%;
				bottom: 0;
			}
		.Menu a:visited
		{
			color:#808080;
		}

		.Menu a:hover
			{
				color:#808080;
			}
		.Menu a:hover::before
			{
				width:50%;
				left:0;
				
			}
		.Menu a:hover::after
		{
			width:50%;
		}

			

body
	center
		div.Menu
			ul
				li: a(href='/home'): i(class='glyphicon glyphicon-home')  Home
				li: a(href='/list'): i(class='glyphicon glyphicon-list')  List
				li: a(href='/chat'): i(class='glyphicon glyphicon-send')  Chat

	block content